.menu {
	min-height: 100%;
	width: 100%;
	background: #1B1B1B;
	display: none;
}

@keyframes menuOpen {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes menuClose {
	from {
		opacity:1;
	}
	to {
		opacity:0;
	}
}

@keyframes menuOpenItem {
	from {
		top: -20px;
		opacity:0;
	}
	to {
		top: 0px;
		opacity:1;
	}
}

@keyframes menuCloseItem {
	from {
		top: 0px;
		opacity:1;
	}
	to {
		top: -20px;
		opacity:0;
	}
}

.menu--willOpen, .menu--open, .menu--willClose {
	display: block;
}

.menu--willOpen, .menu--willClose {
	position: fixed;
	top: 0;
	z-index: 500;
}

.menu--willOpen {
	animation-name: menuOpen;
	animation-duration: 0.9s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

/* broke the bem */
.menu--willOpen .menu-item {
	opacity:0;
	animation-name: menuOpenItem;
	animation-duration: 0.4s;
	animation-delay: 0.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.menu--open {
	/*position: static;*/
}

.menu--willClose {
	animation-name: menuClose;
	animation-duration: 0.9s;
	animation-delay: 0.2s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

/* broke the bem, again */
.menu--willClose .menu-item {
	animation-name: menuCloseItem;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.menu--close {
	transition: top 0.4s;
}

.menu-close {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 32px;
	transition: left 0.4s;
}

.menu-close--off {
	left: -50px;
}

.menu-itemList {
	padding-top: 50px;
}
.menu-item {
	display: block;
	font-size: 32px;
	color: #FFF;
	line-height: 75px;
	text-align: center;
	position: relative;
}
