.menu {
	min-height: 100%;
	width: 100%;
	background: gray;
	display: none;
}

@keyframes menuOpen {
	from {
		top: -100%;
		opacity:0;
	}
	to {
		top: 0;
		opacity:1;
	}
}

@keyframes menuClose {
	from {
		top: 0%;
		opacity:1;
	}
	to {
		opacity:0;
		top: -100%;
	}
}

.menu--willOpen, .menu--open, .menu--willClose {
	display: block;
}

.menu--willOpen, .menu--willClose {
	position: absolute;
	top: 0;
	z-index: 500;
}

.menu--willOpen {
	animation-name: menuOpen;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}
.menu--open {
	/*position: static;*/
}
.menu--willClose {
	animation-name: menuClose;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
}
.menu--close {
	/*position: static;*/
}

.menu-close {
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 32px;
	transition: top 0.4s;
}
.menu-itemList {
	padding-top: 50px;
}
.menu-item {
	font-size: 24px;
	color: red;
	line-height: 50px;
	text-align: center;
}
